<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
 'http://java.sun.com/dtd/web-app_2_3.dtd'><web-app>
        <servlet>
                <servlet-name>localtest</servlet-name>
                <servlet-class>mjwall.LocalClient</servlet-class>
        </servlet>
    <servlet>
            <servlet-name>remotetest</servlet-name>
            <servlet-class>mjwall.RemoteClientSameJVM</servlet-class>
    </servlet>

        <servlet-mapping>
                <servlet-name>localtest</servlet-name>
                <url-pattern>*.html</url-pattern>
        </servlet-mapping>
    <servlet-mapping>
            <servlet-name>remotetest</servlet-name>
            <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
 
</web-app>